<h1>Welcome <%= @users.first_name %></h1>
<br>
<a href="/users/<%= current_user.id %>/edit">Edit My Profile</a>
<br>
<br>
<h3>Here are some of the events at your state:</h3>
<fieldset>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Location</th>
                <th>Host</th>
                <th>Action/Status</th>
            </tr>
        </thead>
        <tbody>
            <% if @state_events %>
            <% @state_events.each do |event| %>
                <tr>

                    <td> <a href="/events/<%= event.id %>"> <%= event.name %> </a> </td>
                    <td><%= event.date %></td>
                    <td><%= event.location %></td>
                    <td><%= event.user.first_name %></td>
                    <td>
                        <% if event.user.id != current_user.id %>
                            <% if event.user_participate.exists?(@users.id) %>
                                Joining <a href="/events/<%=event.id%>/cancel">Cancel</a>
                            <% else %>
                                <a href="/events/<%=event.id%>/join">Join</a>
                            <% end %>
                        <% else %>
                            <a href="/events/<%=event.id%>/edit">Edit</a> | <a href="/events/<%=event.id%>/destroy">Delete</a>
                        <% end %>
                    <% end %>
                    </td>
                </tr>

            <% end %>
        </tbody>
    </table>
</fieldset>
<h3>Here are some of the events at your state:</h3>
<fieldset>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Location</th>
                <th>State</th>
                <th>Host</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% if @out_of_state %>
            <% @out_of_state.each do |event| %>
                <tr>
                    <td> <a href="/events/<%= event.id %>"> <%= event.name %> </a>  </td>
                    <td><%= event.date %></td>
                    <td><%= event.location %></td>
                    <td><%= event.state %></td>
                    <td><%= event.user.first_name %></td>
                </tr>
            <% end %>
            <% end %>
        </tbody>
    </table>
</fieldset>

<h1>Add Event</h1>
<form action="/events" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <p>Name: <input type="text" name="name" value=""></p>
    <p>Date: <input type="date" name="date" value=""></p>
    <p>Location: <input type="text" name="location" value="">
    <select name="state">
        <option selected value="<%= current_user.state %>"><%= current_user.state %></option>
        <option value="AK">AK</option>
        <option value="AL">AL</option>
        <option value="AR">AR</option>
        <option value="AZ">AZ</option>
        <option value="CA">CA</option>
        <option value="CO">CO</option>
        <option value="CT">CT</option>
        <option value="DC">DC</option>
        <option value="DE">DE</option>
        <option value="FL">FL</option>
        <option value="GA">GA</option>
        <option value="HI">HI</option>
        <option value="IA">IA</option>
        <option value="ID">ID</option>
        <option value="IL">IL</option>
        <option value="IN">IN</option>
        <option value="KS">KS</option>
        <option value="KY">KY</option>
        <option value="LA">LA</option>
        <option value="MA">MA</option>
        <option value="MD">MD</option>
        <option value="ME">ME</option>
        <option value="MI">MI</option>
        <option value="MN">MN</option>
        <option value="MO">MO</option>
        <option value="MS">MS</option>
        <option value="MT">MT</option>
        <option value="NC">NC</option>
        <option value="ND">ND</option>
        <option value="NE">NE</option>
        <option value="NH">NH</option>
        <option value="NJ">NJ</option>
        <option value="NM">NM</option>
        <option value="NV">NV</option>
        <option value="NY">NY</option>
        <option value="OH">OH</option>
        <option value="OK">OK</option>
        <option value="OR">OR</option>
        <option value="PA">PA</option>
        <option value="RI">RI</option>
        <option value="SC">SC</option>
        <option value="SD">SD</option>
        <option value="TN">TN</option>
        <option value="TX">TX</option>
        <option value="UT">UT</option>
        <option value="VA">VA</option>
        <option value="VT">VT</option>
        <option value="WA">WA</option>
        <option value="WI">WI</option>
        <option value="WV">WV</option>
        <option value="WY">WY</option>
    </select>
    </p>
    <input type="submit" name="" value="Add Event">
</form>
