<div style="padding: 20px 50px;">
    <h2>Coding Dojo</h2>
    <h3>Welcome <%= @user.username %></h3>
    <h2> <a href="/users/logout">Log out</a> </h2>
    <br>
    <br>


    <form action="/messages" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="message_id" value="message.id">
      <textarea name="content" rows="8" cols="80"></textarea>
      <input type="submit" value="Post a Message">
    </form>

    <% @messages.each do |message| %>
      <h3> <%= message.user.username %> - <%= message.created_at.strftime("%B #{message.created_at.day.ordinalize}, %Y") %> </h3>
      <p style="margin-left:30px"> <%= message.content %> </p>
      <h3 style="margin-left:30px;">Comments</h3>

        <% @comments.each do |comment| %>
          <% if comment.message_id == message.id %>
            <p style="margin-left:60px;"> <%= comment.user.username %> - <%= comment.created_at.strftime("%A %B %d, %Y") %> </p>
            <p style="margin-left:90px;"> <%= comment.content %> </p>
          <% end %>
        <% end %>


    <form style="margin-left:90px;" action="/messages/<%= message.id %>/comment" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="message_id" value="<%= message.id %>">
      <textarea name="content" rows="1" cols="30"></textarea>
      <input  type="submit" value="Post a Comment">
    </form>
    <hr>
    <% end %>
</div>
