<h2>show/index/page</h2>
<p> Welcome <%= current_user.name %></p>
<p> <a href="/secrets"> Secrets Page</a> </p>
<h3>Create Secret</h3>
<form  action="/secrets" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <textarea name="secret" rows="8" cols="80"></textarea>
    <input type="submit" name="" value="Create Secret">
</form>
<h3>Secrets</h3>
<% current_user.secrets.each do |item| %>
    <p><%= item.secret %>
        <form action="/secrets/<%= item.id %>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" name="delete" value="delete">
        </form>
    </p>
    <p><%= item.likes.count %> Likes</p>
<% end %>
<h3>Secrets Liked</h3>
<% current_user.secrets_liked.each do |item| %>
    <p><%= item.secret %></p>
<% end %>
