<h1>SECRETS</h1>

<p> <a href="/users/<%= current_user.id %>">Back to User Dashboard</a></p>

<% @secrets.each do |item| %>
<p>
  <%= item.secret %>
      <% if current_user.id == item.user_id %>
          <form action="/secrets/<%= item.id %>" method="post">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <input type="hidden" name="_method" value="delete">
              <input type="submit" name="delete" value="delete">
          </form>
      <% end %>
</p>
<% if @user.secrets_liked.exists?(item.id) %>
    <p> <%= item.likes.count %> Likes
        <form action="/likes/<%= item.id %>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" name="like" value="unLIKE">
        </form>
  </p>
<% else %>
    <p> <%= item.likes.count %> Likes
        <form action="/likes/<%= item.id %>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="submit" name="like" value="LIKE">
        </form>
    </p>
  <% end %>
<% end %>
